<% if @project %>
<ul class="nav nav-tabs">
	<li class="active"><a href="#open" data-toggle="tab">Open</a></li>
	<li><a href="#closed" data-toggle="tab">Closed</a></li>
	<li><a href="#addtask" data-toggle="tab">Add Task</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="open">
	<% if @open_tasks.empty? %>
		<p class="lead">No Open Tasks :)</p>
	<% else %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Percent</th>
					<th>Created</th>
					<th class="btn-group-placeholder"></th>
				</tr>
			</thead>
			
			<tbody>
			<% @open_tasks.each do |task| %>
				<tr>
					<td><%= task.id %></td>
					<td><%= task.title %></td>
					<td><div class="progress progress-striped progress-success span2">
						<div class="bar" style="width: <%= task.percent.to_int %>%"></div>
					</div></td>
					<td><%= task.created_at.strftime('%d/%m/%Y') %></td>
					<td><div class="btn-group pull-right">
						<a	class="btn dropdown-toggle"
							data-toggle="dropdown"
							href="#">
							<i class="icon-cog"></i> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/admin/task/view/<%= task.id %>"><i class="icon-eye-open"></i> View/Add Comments</a></li>
							<li><a href="/admin/task/edit/<%= task.id %>"><i class="icon-edit"></i> Edit</a></li>
							<li><a href="/admin/task/complete/<%= task.id %>"><i class="icon-ok-sign"></i> Complete</a></li>
							<li class="divider"></li>
							<li><a href="/admin/task/delete/<%= task.id %>"><i class="icon-trash"></i> Delete</a></li>
						</ul>
					</div></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% end %>
	</div>
	
	<div class="tab-pane" id="closed">
	<% if @closed_tasks && @closed_tasks.empty? %>
		<p class="lead">No Closed Tasks :(</p>
	<% else %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Percent</th>
					<th>Completed</th>
					<th class="btn-group-placeholder"></th>
				</tr>
			</thead>
			
			<tbody>
			<% @closed_tasks.each do |task| %>
				<tr>
					<td><%= task.id %></td>
					<td><%= task.title %></td>
					<td>
						<div class="progress progress-striped progress-success span2">
							<div class="bar" style="width: <%= task.percent.to_int %>%"></div>
						</div>
					</td>
					<td><%= task.completed_at.strftime('%d/%m/%Y') %></td>
					<td><div class="btn-group pull-right">
						<a	class="btn dropdown-toggle"
							data-toggle="dropdown"
							href="#">
							<i class="icon-cog"></i> <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/admin/task/view/<%= task.id %>"><i class="icon-eye-open"></i> View/Add Comments</a></li>
							<li><a href="/admin/task/edit/<%= task.id %>"><i class="icon-edit"></i> Edit</a></li>
							<li><a href="/admin/task/reopen/<%= task.id %>"><i class="icon-repeat"></i> Re-open</a></li>
							<li class="divider"></li>
							<li><a href="/admin/task/delete/<%= task.id %>"><i class="icon-trash"></i> Delete</a></li>
						</ul>
					</div></td>
				</tr>
			<% end %>
			</tbody>
		</table>
	<% end %>
	</div>
	
	<div class="tab-pane" id="addtask">
		<%= erb :'admin/task/form' %>
	</div>
</div>
<% else %>
<%= erb :'admin/project' %>
<% end %>